:root{
	--primary-text-color: #212121;
	--title-color: #000;
	--primary-background: #FFF;
}


ul{
	list-style-type: none;
	padding: 0;
	
}
body{
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	color: var(--primary-text-color);
	background-color:var(--primary-background) ;
}
